# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.terrain-test.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\steph\Desktop\Unity\terrain-test\.idea\.idea.terrain-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
